body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2em;
}

@media screen and (min-width: 739px) and (max-width:1024px) {
    .courses-container{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 740px){
    .courses-container{
        grid-template-columns: 1fr !important;
        margin: 3em;
        gap: 1em;
    }
}
